<html>
  <head>

  </head>
  <body>
    <h1>Home</h1>
    <img src="https://miro.medium.com/max/728/1*9NB__ssP6pLHkTGTs_GzXg.jpeg" alt="">
    <div class="containt"></div>
    <br>
    <p class="p"><mark>Angular 9 Released :</mark></p>
    <p class="text-primary , h4">Angular 9 Released with Ivy as Default Rendering Engine:</p>
    <br>
    <p>Smaller bundle sizes, improved build times, and better debugging are just some of
      the new improvements available in Angular 9, the latest major release of Google's
       popular JavaScript SPA (Single Page Application) framework. These improvements are
       happening thanks to the release of the much anticipated Ivy rendering engine that
       has been in development by Google since 2018.</p>
       
  </body>
</html>


