body {
  color: #333333;
  font-family: arial;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.p{
font-size: 50px;
}
.p2{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
